@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --pink: rgba(255, 71, 175, 1);
    --magenta: rgba(214, 45, 138, 1);
    --red: rgba(212, 47, 54, 1);
    --cream: rgb(255, 251, 239);
    --blue: rgba(66, 164, 215, 1);
    --teal: rgba(53, 190, 183, 1);
    --green: rgba(177, 193, 54, 1);
    --dkgreen: rgba(98, 179, 77, 1);
    --yellow: rgba(237, 191, 36, 1);
    --purple: rgba(105, 72, 151, 1);
    --orange: rgba(235, 130, 49, 1);
    --dark: rgba(26, 19, 51, 1);
    background-color: var(--cream);
  }

html {
    margin: 0;
    padding:0;   
}

* {
    font-family: 'Quicksand', sans-serif;
}

.primary-button {
    color: var(--cream);
    text-transform: uppercase;
    font-size: 15px;
    background-color: var(--magenta);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    color: var(--cream);
    box-shadow: -1px 3px 20px var(--magenta);
    transition: transform 100ms;
}

body {
    text-align: center;
}

/* Navbar */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-button {
    color: var(--cream);
    background-color: var(--magenta);
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none
}

nav .logo-container {
    width: 170px;
    margin: 15px
}

nav .logo-container .logo {
    width: 100%;
}

/* Home */
/* .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
        to bottom,
        rgba(255, 71, 175, .65) 15%,
        rgba(105, 72, 151, .75) 100%
    )
} */

/* Auth Modal */
.auth-modal{
    position: absolute;
    top: 175px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}